/* فونت‌های Peyda */
@font-face {
  font-family: 'Peyda';
  src: url('./fonts/peyda-regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Peyda';
  src: url('./fonts/peyda-medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Peyda';
  src: url('./fonts/peyda-semiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Peyda';
  src: url('./fonts/peyda-semi-bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Peyda';
  src: url('./fonts/peyda-bold.ttf');
  font-weight: 800;
}

/* تنظیمات عمومی */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Peyda', sans-serif;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #dadada;
  margin: 0;
}

/* کانتینر اصلی */
.login-container {
  display: flex;
  background-color: #fff;
  width: 1920px;
  height: 1080px;
  direction:rtl;
  position: relative;
}

/* لگو سمت راست*/
.login-logo {
  width: 303px;
  height: 242px;
  top: 182px;
  left: 1342px;
  display: block;
  position: absolute;
}

/* فرم ورود */
.login-form {
  margin:auto;
  width: 354px;
  height: 304px;
  top: 522px;
  left: 1323px;
  display: flex;
  flex-direction: column;
}

/*متن زیر لگو */
.tagline {
  font-size:18px;
  font-weight: 400;
  width: 448px;
  height: 40px;
  top: 446px;
  left: 1287px;
  color: #000;
  letter-spacing: 0%;
  line-height: 40px;
  text-align:center;
  position: absolute;
}

/* فرم */
.login-form form {
  width: 354px;
  height: 48px;
  top: 522px; 
  left: 1323px;
  display:flex;
  gap:40px;
  flex-direction: column;
  position: absolute;
}

/* ورودی‌ها */
.input-group label {
  display: block;
  width: 400px;
  height: 32px;
  line-height: 32px;  
  letter-spacing: 0%;
  margin-bottom: 5px;
  color: #190c33;
  font-weight:500;
  font-size: 16px;
  position: relative;
}

.input-group input {
  border:none;
  width: 354px;
  height: 48px;
  outline: none;
  top: 15px;
  bottom: 15px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0%;
  padding: 10px;
  background-color: #F7F8FA;
  border-radius: 12px;
  font-weight: 400;
  position: relative;
}

/* دکمه ورود */
.login-btn {
  width: 354px;
  height: 48px; 
  bottom: 8px;  
  padding: 16px;
  top: 24px;
  border-radius: 12px;
  background-color: #234C6A;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
 
/* برچسب تصویر  */
.exercise-label {
  position: relative;
  top: -568px;
  left: -1920px;
  font-size: 24px;
  font-weight: 600;
  color: #929d9f;
  background: none;
}

/* تصویر سمت چپ */
.login-image {
  width: 1084px;
  height: 1084px; 
  background: url("../images/hero.jpg");
  background-size: cover;
} 
